/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    color: #e0e0e0;
    background-color: #242527;
    min-height: 100vh;
    flex-direction: column;
}

/* Main content area */
.app-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    // background-color: rgba(255, 0, 0, 0.2); /* Semi-transparent red background */
    max-width: 600px; /* Force minimum width */
}

/* Mobile responsive adjustments */
@media (max-width: 480px) {
    .app-content {
        padding: 10px;
    }
}

h2 {
    color: #4a4a4a;
    margin-bottom: 20px;
}

a {
    color: #5d5fef;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
    margin: 5px;
    transition: all 0.2s ease;
}

a:hover {
    background-color: #2a2a2a;
    color: #ffffff;
    text-decoration: none;
}

@import '../ui/input';
@import '../ui/button';
@import '../ui/slide_panel';
@import '../ui/tabs';

@import '../components/side_nav';
@import '../components/roll_history';
@import '../components/dice_roller';

@import 'header';
