.tab-container {
    width: 100%;
    margin-bottom: 20px;
}

.tab-buttons {
    display: flex;
    border-bottom: 2px solid #9d4edd; /* Brighter purple border */
}

.tab-button {
    flex-grow: 0;
    // padding: 10px 20px;
    background-color: #3a3a3c; /* Darker tab background */
    border: none;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    margin: 0;
    margin-right: 5;
    font-weight: bold;
    color: #e0e0e0; /* Light text for dark background */
    transition: all 0.3s ease;
}

.tab-button:last-child {
    margin-right: 0;
}

.tab-button.active {
    background-color: #9d4edd; /* Brighter purple for active tab */
    color: white;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #2d2d30; /* Darker content background */
    border-radius: 0 0 5px 5px;
}

.tab-content.active {
    display: block;
}